In [216]:
import pandas as pd
import numpy as np

df1 = pd.read_excel('Data/Film_Awards.xlsx' , header=[0], skiprows=1, nrows=3, engine='openpyxl')
df2 = pd.read_excel('Data/Film_Awards.xlsx' , header=[0], skiprows=8, nrows=5, engine='openpyxl')
df3 = pd.read_excel('Data/Film_Awards.xlsx' , header=[0], skiprows=15, nrows=3, engine='openpyxl')

Fill Empty Cells with spaces, instead of 'NaN'. Rename Columns.

In [217]:
df1 = df1.fillna("")
df1 = df1.rename(columns={'Director': "AA Director","Director.1":"GGD Director","Director.2":"GGMC Director", "Golden Globe - Musical or Comedy":"GG-MC"})
df2 = df2.fillna("")
df2 = df2.rename(columns={'Film.1': 'Film', "Film.2": "Film", "Golden Globe - Musical or Comedy":"GG-MC"})
df3 = df3.fillna("")
df3 = df3.rename(columns={'Film.1': 'Film', "Film.2": "Film", "Golden Globe - Musical or Comedy":"GG-MC"})

Fix Mispellings

In [218]:
df3.at[1, "GG-MC"]='Olivia Colman'
df3.at[1, "Film"]='The Favourite'
df1.at[0, "Golden Globe - Drama"]="1917"

Change header to string and read header type for Best Picture

In [219]:
df1 = df1.astype(
    {'Year':np.uint16,
    'Academy Award' : pd.StringDtype(),
    'AA Director' : pd.StringDtype(),
    'Golden Globe - Drama' : pd.StringDtype(),
    'GGD Director' : pd.StringDtype(),
    'GG-MC' : pd.StringDtype(),
    'GGMC Director' : pd.StringDtype()}
)
print(df1.dtypes)

Year                    uint16
Academy Award           string
AA Director             string
Golden Globe - Drama    string
GGD Director            string
GG-MC                   string
GGMC Director           string
dtype: object

Change header to string and read header type for Best Actor

In [220]:
df2 = df2.astype(
    {'Year':np.uint16,
    'Academy Award' : pd.StringDtype(),
    'Film' : pd.StringDtype(),
    'Golden Globe - Drama' : pd.StringDtype(),
    'Film' : pd.StringDtype(),
    'GG-MC' : pd.StringDtype(),
    'Film' : pd.StringDtype()}
)
print(df2.dtypes)

Year                    uint16
Academy Award           string
Film                    string
Golden Globe - Drama    string
Film                    string
GG-MC                   string
Film                    string
dtype: object

Change header to string and read header type for Best Actress

In [221]:
df3 = df3.astype(
    {'Year':np.uint16,
    'Academy Award' : pd.StringDtype(),
    'Film' : pd.StringDtype(),
    'Golden Globe - Drama' : pd.StringDtype(),
    'Film' : pd.StringDtype(),
    'GG-MC' : pd.StringDtype(),
    'Film' : pd.StringDtype()}
)
print(df3.dtypes)

Year                    uint16
Academy Award           string
Film                    string
Golden Globe - Drama    string
Film                    string
GG-MC                   string
Film                    string
dtype: object

Read fianl Data Frames (Best Picture) (Best Actor) (Best Actress)

In [222]:
df1

,Year,Academy Award,AA Director,Golden Globe - Drama,GGD Director,GG-MC,GGMC Director
0,2019,Parasite,Bong Joon-ho,1917,Sam Mendes,Once Upon a Time in Hollywood,Quentin Tarantino
1,2018,Green Book,Peter Farrelly,Bohemian Rhapsody,Bryan Singer,Green Book,Peter Farelly
2,2017,The Shape of Water,Guillermo del Toro,"Three Billboards Outside Ebbing, Missouri",Martin McDonagh,Lady Bird,Greta Gerwig

In [223]:
df2

,Year,Academy Award,Film,Golden Globe - Drama,Film,GG-MC,Film
0,2019,Joaquin Phoenix,Joker,Joaquin Phoenix,Joker,Taron Egerton,Rocketman
1,2018,Rami Malek,Bohemian Rhapsody,Rami Malek,Bohemian Rhapsody,Christian Bale,Vice
2,2017,Gary Oldman,Darkest Hour,Gary Oldman,Darkest Hour,James Franco,The Disaster Artist

In [224]:
df3

,Year,Academy Award,Film,Golden Globe - Drama,Film,GG-MC,Film
0,2019,Renée Zellweger,Judy,Renée Zellweger,Judy,Awkwafina,The Farewell
1,2018,Olivia Colman,The Favourite,Glenn Close,The Favourite,Olivia Colman,The Favourite
2,2017,Frances McDormand,"Three Billboards Outside Ebbing, Missouri",Frances McDormand,"Three Billboards Outside Ebbing, Missouri",Saoirse Ronan,Lady Bird